.metricas__container {
    margin: 0 80px 96px 80px;
}

.container {
    display: flex;
}

.metricas {
    margin: 0 32px;
}

.metrica__titulo {
    font-size: 60px;
    font-weight: 600;
    color: var(--vermelho);
    margin-bottom: 12px;
}

.metrica__subtitulo {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}

.metrica__descricao {
    color: var(--cinza);
}