.navegador {
    display: flex;
    justify-content: space-between;
    margin: 2em 4em;
    
}

.navegador__link {
    text-decoration: none;
    margin-left: 1em;
    color: var(--cinza);
    font-weight: 500;
}

.botao {
    text-decoration: none;
    margin-left: 1.5em;
    color: var(--branco);
    font-weight: 500;
    border: 1px solid var(--vermelho);
    border-radius: 8px;
    padding: 1em 1.5em;
    background: var(--vermelho);
}