.rodape {
    background-color: var(--cor-rodape);
    text-align: center;
    padding: 96px 304px;
}

.titulo__rodape {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 1em;
}

.rodape__descricao {
    font-size: 20px;
    color: var(--cinza);
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}

.email {
    border: 1px solid var(--cor-da-borda);
    border-radius: 8px;
    padding: 1em;
    width: 360px;
}

.copyright {
    color: var(--cinza-claro);
}